.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    background-size:580px ;
   border-width: 10px;
   background-color: white; 
   border-style: ridge;
   border-color: darkviolet;
   background-image:url(BirthdayImage.jpg);
   
}


